<%- include('header'); -%>

<div class="top-image">
  <img class="aboutImg" src="images\aboutImg.jpg" alt="Landscape image">
</div>
<div class="outer-container">
  <div class="about-write">
      <div class="item">
        <h4>About Me</h4>
      </div>
      <div class="about-body">
      <div class="item-top ">
        <img class="aboutMeimg" src="images\aboutMe.jpg" alt="">
        <p class="p-top">Photography has been a passion of mine from an early age. Being based in the south west of Scotland in beautiful Dumfries and Galloway, inspiration for the perfect shot has never been far away.
          Getting behind a camera and taking lasting memories of special moments is one of the greatest gifts to give. Whether it's a professional photo shoot
          or a simple spur of the moment shot, the image that is captured creates a moment that is saved forever. Knowing I can create a memory that
          you will look back on in years to come with joy, is one of the main reasons I love photography so much. </p>



      </div>
      <div class="item-top">
        <p class="p-middle">When it comes to family photographs, I find they are about the relationships and true connections. I will capture pictures of everyone looking at the camera and smiling.
          It's the in between moments, the talking, the laughing, playing and just enjoying each others company.
          I believe in authentic and candid images that will last a lifetime. There is no stronger bond than a family.
          </p>
          <p class="p-middle">
            For your wedding day I am here to ensure we capture all those special moments that occur on any couples big day. This is the start of a great
          adventure.
          I can't wait to help you capture your forever moments for you to look back on and remember how special your day was.
          There is something so special about being a photographer and being part of a couple's whole day. It's such an honour to play such a
          vital role in one of the greatest days of any couple's life!
          </p>
          <p class="p-middle">
            I cater for any other photo sessions you may require, be that pet photos, modelling, christenings, partys
          or school photos. If you have any questions or requests, please don't hesitate to get in touch.
        </p>
      </div>
      <div class="item-bottom">
        <h2 class="header-bottom">Melissa Luescher</h2>
      </div>
        </div>
  </div>
</div>

<%- include('footer'); -%>
