<%- include('header'); -%>

<div class="top-image">
  <img class="aboutImg" id="img1" src="images\contactImg.jpg" alt="Landscape image">
  <img class="aboutImg" id="img2" src="images\contactImg2.jpg" alt="Landscape image">
</div>

<%- include('footer'); -%>
