<%- include('header'); -%>

<!-- Nav Bar Middle -->

<nav class="navbar navbar-expand-lg navbar-light ">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto ">
    <li class="nav-item middleNav">
      <a class="nav-link active text-dark" aria-current="page" href="/portfolio">Family</a>
    </li>
    <li class="nav-item middleNav">
      <a class="nav-link text-dark " href="/pets">Pets</a>
    </li>
    <li class="nav-item middleNav">
      <a class="nav-link text-dark " href="/weddings">Weddings</a>
    </li>
    <li class="nav-item middleNav">
      <a class="nav-link text-dark " href="/modelling"><u>Modelling</u></a>
    </li>
  </ul>
  </div>
</nav>

<!-- Slide Show -->


<div class="container mc">

  <div class="left">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
  </div>

  <div class="img-container">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
      <div class="carousel-inner embed-responsive embed-responsive-1by1">

        <div class="carousel-item embed-responsive-item active">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling1.jpg" alt="First slide">
        </div>
        <div class="carousel-item embed-responsive-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item embed-responsive-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item embed-responsive-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling4.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>

<%- include('footer'); -%>
