<%- include('header'); -%>

<!-- Nav Bar Middle -->

  <nav class="nav ">
    <ul class="nav justify-content-center">
      <li class="nav-item middleNav">
        <a class="nav-link active text-dark" aria-current="page" href="/portfolio">Family</a>
      </li>
      <li class="nav-item middleNav">
        <a class="nav-link text-dark " href="/pets">Pets</a>
      </li>
      <li class="nav-item middleNav">
        <a class="nav-link text-dark " href="/weddings">Weddings</a>
      </li>
      <li class="nav-item middleNav">
        <a class="nav-link text-dark " href="/modelling">Modelling</a>
      </li>
    </ul>
  </nav>

  <!-- Slide Show -->


  <div class="container">



    <div class="left">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    </div>

    <div class="img-container">


    <div id="carouselExampleControls" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block h-500 img-fluid img" src="images\modelling\modelling4.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>

    <div class="right">
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>

<%- include('footer'); -%>
