<%- include('header'); -%>

<div class="top-image">
  <img class="aboutImg" src="images\priceImg3.jpg" alt="Landscape image">
</div>
<div class="pricing">
  <div class="row">
    <div class="card mx-auto text-center border-secondary mb-5 mt-5" style="max-width: 18rem;">
      <div class="card-header top-header">All-Inclusive</div>
      <div class="card-body text-secondary">
        <h5 class="card-title body-text">£395</h5>
        <h5 class="card-title body-text">Includes:</h5>
        <p class="card-text body-text">Photo session £45</p>
        <p class="card-text body-text">All your images from your special day supplied on a USB</p>
        <p class="card-text body-text">Perfect for printing and sharing on Social Media</p>
      </div>
    </div>
    <div class="card mx-auto text-center border-secondary mb-5 mt-5" style="width: 18rem;">
      <div class="card-header top-header">Custom</div>
      <div class="card-body text-secondary">
        <h5 class="card-title body-text">Photo session £45</h5>
        <h5 class="card-title body-text">Photos with folders</h5>
        <p class="card-text body-text">7" x 5" (18cm x 13cm): £10</p>
        <p class="card-text body-text">8" x 8" (20cm x 15cm): £12</p>
        <p class="card-text body-text">10" x 8" (25cm x 20cm): £14.50</p>
        <p class="card-text body-text">12" x 8" (30cm x 20cm): £18</p>
      </div>
    </div>
    <div class="card mx-auto text-center border-secondary mb-5 mt-5" style="max-width: 18rem;">
      <div class="card-header top-header">Weddings</div>
      <div class="card-body text-secondary">
        <h5 class="card-title body-text">£750 all day session</h5>
        <p class="card-text body-text">All your images from your special day supplied on a USB</p>
        <p class="card-text body-text">Photo album containing x images</p>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); -%>
