body {
  /* margin: auto; */
  min-width: 100%;
  text-align: center;
}

h4 {
  font-size: 30px;
  letter-spacing: 4px;
}

p {
  font-size: 17px;
}

/* Main Heading */

.heading {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.5em;
}

/* Top NavBar and Middle Nav*/

.navbar .navbar-nav {
margin:auto;
  float:none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-collapse {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:auto;
}

.navbar-toggler {
    float: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;


}

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */

.nav {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Top Nav */

.topNav {
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

/* Middle Nav */

.middleNav {
  font-size: 27px;
  font-family: 'Prompt', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.gallery {
  display: none;
}

/* Background box for Slideshow */

.mc {
  background-color: #ebe9ea;
  border: 1px Solid Black;
  bottom: 0;
  left: 0;
  height: 800px;
  margin: auto;
  display: flex;
  position: relative;
  right: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 65%;
  margin-bottom: 60px;
  z-index: 0;
  /* border-radius: 20px; */
}

/* Solid line across page */

.lineBreak {
  display: flex;
  border-top: 1px Solid Black;
  width: 60%;
  margin: auto;
}

/* Carousel Features */

.img {
  height: 800px;
  object-fit: contain;
  width: 100%;
margin: auto;
}

.img-container {
  padding-left: -20px;
  padding-right: -20px;
  width: 100%;
  margin: auto;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.carousel-control-prev {
  background-color: white;
  position: absolute;
  width: 5%;
  height: 50px;
  top:48%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-control-next {
  background-color: white;
  position: absolute;
  width: 5%;
  height: 50px;
  top: 48%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4f4f58' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4f4f58' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Main image container on About, Pricing and Contact Pages */

.top-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 95%;
  width: 60%;
}

/* About Page */

/* .container-fluid {
  max-width: 65%;
} */

.about-write {
  text-align: center;
  padding: 2%;
  font-family: 'Prompt', sans-serif;
  color: Black;
  font-size: 25px;
}

.item {
  padding-bottom: 2%;
}

.aboutImg {
  object-fit: cover;
  height: 500px;
  width: 100%;
  border: 2px Solid Grey;
  max-width: 100%;
}

.about-body {
    width: 63%;
    margin: auto;
}

.item-top {
  width: 100%;
  margin: auto;
  text-align: left;
}

.p-top {
font-size: 19px;
line-height: 170%;
}

.p-middle {
  text-align: left;
  padding-top: 20px;
  font-size: 19px;
  line-height: 170%;
}

.aboutMeimg {
  object-fit: cover;
  width: 20%;
  border: 2px Solid Black;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.item-bottom {
  text-align: center;
}

.header-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Birthstone', cursive;
  font-size: 50px;
}

/* Pricing Page */

.pricing {
  width: 65%;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
}

.top-header {
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}

.body-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: Black;
}

.card {
  width: 18rem;
  /* border-radius: 20px; */
}

#img1 {display: block;}
#img2 {display: none;}

.contact-img {
  padding-bottom: 60px;
}

/* Contact Form */

.outer-form {
  max-height: 350px;
  width: 60%;
  background-color: #ebe9ea;
  overflow: inherit;
  margin: auto;
  margin-top: 60px;
  padding: 50px 80px 40px 80px;
  /* border-radius: 20px; */
  border: 1px Solid Black;
  box-sizing: border-box;
  margin-bottom: 60px;
  /* overflow: auto; */
}

.form-heading {
  text-align: center;
  /* padding-bottom: 20px; */
  color: Black;
  font-family: 'Lora', serif;
  font-size: 25px;
  letter-spacing: 0.2em;
  margin-top: -25px;
  padding-bottom: 10px;
}

.myform {
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* padding: 0; */

}

.int-5 {
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
  /* margin-bottom: 2%;
  margin-top: 2%; */
}
.int-4 {
  padding-bottom: 25px;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-spc {
  padding: 40px 150px 40px 150px;
  font-size: 25px;
  font-family: 'Prompt', sans-serif;
  color: Black;
  text-align: center;
}

.fblogo {
  width: 100%;
  height: auto;
}

/* Different Sizings */

@media screen and (min-width: 1200px) {

  .mc {
    max-width: 60%;
  }
}

@media screen and (min-width: 450px) and (max-width: 950px) {

  .topNav {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
  }

  .middleNav {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar-collapse {
    margin-top:-25px;
  }

  .lineBreak {
    display: flex;
    border-top: 1px Solid Black;
    width: 100%;
    margin: auto;
  }

  .gallery {
    display: block;
    padding-top: 20px;
    margin-bottom: -15px;
  }

  .gallery h2 {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
  }

  .mc {
   background-color: #ebe9ea;
   border: 1px Solid Black;
   bottom: 0;
   left: 0;
   /* margin: auto; */
   display: flex;
   position: relative;
   right: 0;
   align-items: center;
   justify-content: center;
   top: 0;
   width: 98%;
   max-width: 100%;
   height: 400px;
   margin-bottom: 60px;
   z-index: 0;
   /* border-radius: 20px; */

 }

 .img {
   /* height: 400px; */
   position: absolute;
   /* max-width: 100%; */
   height: 400px;
   object-fit: contain;
   z-index: 1;
 }

.carousel-inner {
  height: 400px;
  max-width: 100%;
}

.about-body {
    width: 90%;
    margin: auto;
}

.aboutMeimg {
  object-fit: cover;
  width: 100%;
  border: 2px Solid Black;
  margin: 30px auto 40px auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-spc {
  padding: 40px 10px 40px 10px;
  font-size: 10px;
  font-family: 'Prompt', sans-serif;
  color: Black;
  text-align: center;
}

/* Contact Form */

.outer-form {
  max-height: 400px;
  width: 98%;
  background-color: #dfdee0;
  /* overflow: scroll; */
  margin: auto;
  margin-top: 60px;
  padding: 4%;
  /* border-radius: 20px; */
  border: 1px Solid Black;
  box-sizing: border-box;
  margin-bottom: 60px;
  height: 900px;
}

.form-group {
  padding-left: -50px;
  padding-right: -50px;
}

.form-heading {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  color: Black;
  font-family: 'Lora', serif;
  letter-spacing: 0.1em;
  font-size: 20px;
}

.pricing {
  width: 90%;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
}

.card {
  width: 40rem;
}

.top-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 95%;
  width: 95%;
}

 #img1 {display: none;}
 #img2 {display: block;}

 .outer-form {
   max-height: 450px;
   width: 98%;
   background-color: #dfdee0;
   /* overflow: scroll; */
   margin: auto;
   margin-top: 60px;
   padding: 20px 10px 30px 10px;
   /* border-radius: 20px; */
   border: 1px Solid Black;
   box-sizing: border-box;
   margin-bottom: 60px;
   height: 410px;
 }

 .footer-spc {
   padding: 40px 60px 40px 60px;
   font-size: 20px;
   font-family: 'Prompt', sans-serif;
   color: Black;
   text-align: center;
 }

}

@media screen and (min-width: 950px) and (max-width: 1380px) {

  .topNav {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
  }

  .middleNav {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar-collapse {
    margin-top:-25px;
  }

  .lineBreak {
    display: flex;
    border-top: 1px Solid Black;
    width: 100%;
    margin: auto;
  }

  .gallery {
    display: none;
    padding-top: 20px;
    margin-bottom: -15px;
  }

  .gallery h2 {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
  }

  .mc {
   background-color: #ebe9ea;
   border: 1px Solid Black;
   bottom: 0;
   left: 0;
   /* margin: auto; */
   display: flex;
   position: relative;
   right: 0;
   align-items: center;
   justify-content: center;
   top: 0;
   width: 80%;
   max-width: 100%;
   height: 400px;
   margin-bottom: 60px;
   z-index: 0;
   /* border-radius: 20px; */

 }

 .img {
   /* height: 400px; */
   position: absolute;
   /* max-width: 100%; */
   height: 400px;
   object-fit: contain;
   z-index: 1;
 }

.carousel-inner {
  height: 400px;
  max-width: 100%;
}

.about-body {
    width: 80%;
    margin: auto;
}

.aboutMeimg {
  object-fit: cover;
  width: 100%;
  border: 2px Solid Black;
  margin: 30px auto 40px auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-spc {
  padding: 40px 10px 40px 10px;
  font-size: 10px;
  font-family: 'Prompt', sans-serif;
  color: Black;
  text-align: center;
}

/* Contact Form */

.outer-form {
  max-height: 300px;
  max-width: 80%;
  background-color: #dfdee0;
  /* overflow: scroll; */
  margin: auto;
  margin-top: 60px;
  padding: 2%;
  /* border-radius: 20px; */
  border: 1px Solid Black;
  box-sizing: border-box;
  margin-bottom: 60px;

}

.int-4 {
  padding-bottom: 25px;
}

.form-group {
  padding-left: -50px;
  padding-right: -50px;
}

.form-heading {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  color: Black;
  font-family: 'Lora', serif;
  letter-spacing: 0.1em;
  font-size: 20px;
}

.pricing {
  width: 90%;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
}

.card {
  width: 20rem;
}

.top-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 80%;
  width: 80%;
}

 #img1 {display: none;}
 #img2 {display: block;}

 .outer-form {
   max-height: 450px;
   width: 98%;
   background-color: #dfdee0;
   /* overflow: scroll; */
   margin: auto;
   margin-top: 60px;
   padding: 20px 10px 30px 10px;
   /* border-radius: 20px; */
   border: 1px Solid Black;
   box-sizing: border-box;
   margin-bottom: 60px;
   height: 410px;
 }

 .footer-spc {
   padding: 40px 60px 40px 60px;
   font-size: 20px;
   font-family: 'Prompt', sans-serif;
   color: Black;
   text-align: center;
 }
}

@media screen and (max-width: 450px) {

  .topNav {
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

  .middleNav {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
  }


  .lineBreak {
    display: flex;
    border-top: 1px Solid Black;
    width: 100%;
    margin: auto;
  }

  .gallery {
    display: block;

    padding-top: 20px;
    margin-bottom: -15px;
  }

  .navbar-collapse {
    margin-top:-25px;
  }

  .gallery h2 {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
  }

  .mc {
   background-color: #ebe9ea;
   border: 1px Solid Black;
   bottom: 0;
   left: 0;
   /* margin: auto; */
   display: flex;
   position: relative;
   right: 0;
   align-items: center;
   justify-content: center;
   top: 0;
   width: 98%;

   height: 400px;
   margin-bottom: 60px;
   z-index: 0;
   /* border-radius: 20px; */
 }

 .img {
   /* height: 400px; */
   position: absolute;
   /* max-width: 100%; */
   height: 400px;
   object-fit: contain;
   z-index: 1;
 }

.carousel-inner {
  height: 400px;

}

 .img-container {
   width: 100%;
   height: 400px;


 }

 .carousel-control-prev {
   background-color: white;
   position: absolute;
   width: 10%;
   height: 50px;
   top:48%;
   align-items: center;
   justify-content: center;
   z-index: 1;
 }

 .carousel-control-next {
   background-color: white;
   position: absolute;
   width: 10%;
   height: 50px;
   top: 48%;
   align-items: center;
   justify-content: center;
   z-index: 1;
 }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4f4f58' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4f4f58' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-inner img {
    /* margin: auto; */
  }

  .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 1s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

  .about-body {
      width: 90%;
      margin: auto;
  }

  .aboutMeimg {
    object-fit: cover;
    width: 100%;
    border: 2px Solid Black;
    margin: 30px auto 40px auto;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-spc {
    padding: 40px 10px 40px 10px;
    font-size: 10px;
    font-family: 'Prompt', sans-serif;
    color: Black;
    text-align: center;
  }

  /* Contact Form */

  .outer-form {
    max-height: 400px;
    width: 98%;
    background-color: #dfdee0;
    /* overflow: scroll; */
    margin: auto;
    margin-top: 60px;
    padding: 4%;
    /* border-radius: 20px; */
    border: 1px Solid Black;
    box-sizing: border-box;
    margin-bottom: 60px;
    height: 900px;
  }

  .form-group {
    padding-left: -50px;
    padding-right: -50px;
  }

  .form-heading {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    color: Black;
    font-family: 'Lora', serif;
    letter-spacing: 0.1em;
    font-size: 20px;
  }

  .pricing {
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
  }

  .card {
    width: 22rem;
  }

  .top-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    max-width: 95%;
    width: 95%;
  }

   #img1 {display: none;}
   #img2 {display: block;}

   .footer-spc {
     padding: 40px 20px 40px 20px;
     font-size: 20px;
     font-family: 'Prompt', sans-serif;
     color: Black;
     text-align: center;
   }
}
